body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.promedio {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}